#Directory

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
%cd /content/drive/MyDrive/KU1102_Pengenalan_Komputasi/Introduction_to_Computation/Final_Project_Data Visualization

/content/drive/MyDrive/KU1102_Pengenalan_Komputasi/Introduction_to_Computation/Final_Project_Data Visualization

#Libraries

In [5]:
import numpy as np #matriks, angka, matematika
import pandas as pd #dataframe
import matplotlib.pyplot as plt #grafik
import seaborn as sns #style grafik

#Dataset Import

Import raw dataset

In [20]:
#baca file csv
df = pd.read_csv('/content/drive/MyDrive/KU1102_Pengenalan_Komputasi/Introduction_to_Computation/Final_Project_Data Visualization/financial.csv')

Import cleaned dataset

In [6]:
#baca file csv
cdf = pd.read_csv('/content/drive/MyDrive/KU1102_Pengenalan_Komputasi/Introduction_to_Computation/Final_Project_Data Visualization/financial_cleaned.csv')

In [41]:
cdf

              Segment                   Country  ... MonthName  Year
0          Government                    Canada  ...   January  2014
1          Government                   Germany  ...   January  2014
2           Midmarket                    France  ...      June  2014
3           Midmarket                   Germany  ...      June  2014
4           Midmarket                    Mexico  ...      June  2014
..                ...                       ...  ...       ...   ...
695    Small Business                    France  ...     March  2014
696    Small Business                    Mexico  ...   October  2014
697        Government                    Mexico  ...  February  2014
698        Government                    Canada  ...     April  2014
699  Channel Partners  United States of America  ...       May  2014

[700 rows x 16 columns]

#Deskripsi Tugas 8: Data Cleansing

Kita bisa memeriksa kebersihan data dengan melihat dataset secara garis besar

In [22]:
df

              Segment                   Country  ... MonthName  Year
0          Government                    Canada  ...   January  2014
1          Government                   Germany  ...   January  2014
2           Midmarket                    France  ...      June  2014
3           Midmarket                   Germany  ...      June  2014
4           Midmarket                    Mexico  ...      June  2014
..                ...                       ...  ...       ...   ...
695    Small Business                    France  ...     March  2014
696    Small Business                    Mexico  ...   October  2014
697        Government                    Mexico  ...  February  2014
698        Government                    Canada  ...     April  2014
699  Channel Partners  United States of America  ...       May  2014

[700 rows x 16 columns]

Kebersihan data juga bisa diperiksa dari deskripsi statistik dataset. 

Fungsi `pandas.DataFrame.describe()` memberikan deskripsi statistik untuk setiap kolom yang memiliki data kuantitatif.

In [23]:
df.describe()

         UnitsSold  ManufacturingPrice  ...  MonthNumber         Year
count   700.000000          700.000000  ...   700.000000   700.000000
mean   1608.294286           96.477143  ...     7.900000  2013.750000
std     867.427859          108.602612  ...     3.377321     0.433322
min     200.000000            3.000000  ...     1.000000  2013.000000
25%     905.000000            5.000000  ...     5.750000  2013.750000
50%    1542.500000           10.000000  ...     9.000000  2014.000000
75%    2229.125000          250.000000  ...    10.250000  2014.000000
max    4492.500000          260.000000  ...    12.000000  2014.000000

[8 rows x 10 columns]

Berdasarkan deskripsi data statistik di atas, kolom discounts dan profit memiliki jumlah value yang berbeda dari jumlah baris dataset. Dengan memeriksa dataset, dapat diketahui bahwa hal ini terjadi karena terdapat value yang berisi NaN.

In [29]:
row_Discounts = len(df['Discounts'])
not_NaN_Discount = df['Discounts'].count()
print("Tingkat kekotoran data pada kolom Discounts adalah", round((row_Discounts-not_NaN_Discount)*100/row_Discounts, 2), "persen")

row_Profit = len(df['Profit'])
not_NaN_Profit = df['Profit'].count()
print("Tingkat kekotoran data pada kolom Profit adalah", round((row_discounts-not_NaN_Profit)*100/row_Profit, 2), "persen")

Tingkat kekotoran data pada kolom Discounts adalah 7.57 persen
Tingkat kekotoran data pada kolom Profit adalah 0.71 persen

Dengan memeriksa kolom lain dari baris yang sama, kolom Discounts memiliki value NaN untuk setiap baris yang memiliki value None pada kolom DiscountBand. Maka bisa kita simpulkan bahwa value NaN pada kolom Discounts memiliki arti bahwa penjualan tersebut tidak memberikan diskon, dengan kata lain memberikan diskon sebesar 0. 

Kolom Profit adalah selisih dari kolom Sales dan kolom COGS (Cost of Goods Sold). Kolom Profit memiliki value NaN untuk setiap barus yang memiliki value yang sama baik pada kolom Sales dan kolom COGS. Maka bisa kita simpulkan bahwa value NaN pada kolom Profit memiliki arti bahwa penjualan tersebut tidak menghasilkan keuntungan, dengan kata lain menghasilkan keuntungan sebesar 0.

Value NaN berbeda dengan value 0 dan akan mempengaruhi hasil deskripsi statistik. Baik pada kolom Discounts maupun Profit, value NaN bisa diganti menjadi 0. Penggantian ini didasarkan pada definisi diskon dan keuntungan itu sendiri yang lebih tepat jika menggunakan value 0.

In [38]:
cdf = df.fillna({'Discounts' : 0})
cdf = cdf.fillna({'Profit' : 0})

Periksa kembali kebersihan dataset

In [31]:
cdf

              Segment                   Country  ... MonthName  Year
0          Government                    Canada  ...   January  2014
1          Government                   Germany  ...   January  2014
2           Midmarket                    France  ...      June  2014
3           Midmarket                   Germany  ...      June  2014
4           Midmarket                    Mexico  ...      June  2014
..                ...                       ...  ...       ...   ...
695    Small Business                    France  ...     March  2014
696    Small Business                    Mexico  ...   October  2014
697        Government                    Mexico  ...  February  2014
698        Government                    Canada  ...     April  2014
699  Channel Partners  United States of America  ...       May  2014

[700 rows x 16 columns]

In [42]:
cdf.describe()

         UnitsSold  ManufacturingPrice  ...  MonthNumber         Year
count   700.000000          700.000000  ...   700.000000   700.000000
mean   1608.294286           96.477143  ...     7.900000  2013.750000
std     867.427859          108.602612  ...     3.377321     0.433322
min     200.000000            3.000000  ...     1.000000  2013.000000
25%     905.000000            5.000000  ...     5.750000  2013.750000
50%    1542.500000           10.000000  ...     9.000000  2014.000000
75%    2229.125000          250.000000  ...    10.250000  2014.000000
max    4492.500000          260.000000  ...    12.000000  2014.000000

[8 rows x 10 columns]

Save kembali ke csv

In [39]:
cdf.to_csv('/content/drive/MyDrive/KU1102_Pengenalan_Komputasi/Introduction_to_Computation/Final_Project_Data Visualization/financial_cleaned.csv', index=False)

# Deskripsi Tugas 4: Karakteristik Data

Membuat DataFrame nama kolom dan jenis data

In [66]:
cdf.dtypes

Segment                object
Country                object
Product                object
DiscountBand           object
UnitsSold             float64
ManufacturingPrice      int64
SalePrice               int64
GrossSales            float64
Discounts             float64
Sales                 float64
COGS                  float64
Profit                float64
Date                   object
MonthNumber             int64
MonthName              object
Year                    int64
dtype: object

In [26]:
list_nama_kolom = list(cdf.columns)

list_tipe_data = []

for i in cdf.dtypes:
  list_tipe_data.append(i)

dict_karakterisik = {'Nama Kolom' : list_nama_kolom, 'Tipe Data' : list_tipe_data}

df_karakteristik = pd.DataFrame(dict_karakterisik)

In [27]:
df_karakteristik

            Nama Kolom Tipe Data
0              Segment    object
1              Country    object
2              Product    object
3         DiscountBand    object
4            UnitsSold   float64
5   ManufacturingPrice     int64
6            SalePrice     int64
7           GrossSales   float64
8            Discounts   float64
9                Sales   float64
10                COGS   float64
11              Profit   float64
12                Date    object
13         MonthNumber     int64
14           MonthName    object
15                Year     int64

Tipe data numpy object termasuk dalam jenis data kategorikal. Pada dataset ini, jenis data kategorikal terdiri dari kategorikal nominal dan kategorikal ordinal.

Jenis data kategorikal nominal adalah data yang tidak dapat dinyatakan bahwa kategori yang satu lebih baik dari kategori lainnya atau dengan kata lain kategori yang tidak memiliki urutan tertentu. Berdasarkan nilainya, kolom yang termasuk dalam kategorikal nominal adalah Segment, Country, dan Product. 

Sedangkan jenis data kategorikal nominal memiliki urutan tertentu. Berdasarkan nilainya, kolom yang teramsuk dalam kategorikal ordinal adalah DiscountBand, Date, dan MonthName.

Selain itu, tipe data int64 dan float64 termasuk dalam jenis data kuantitatif.

In [30]:
list_jenis_data = []

for i in range(len(df_karakteristik)):
  if df_karakteristik['Nama Kolom'][i] in ['Segment', 'Country', 'Product']:
    list_jenis_data.append('Kategorikal Nominal')
  elif df_karakteristik['Nama Kolom'][i] in ['DiscountBand', 'Date', 'MonthName']:
    list_jenis_data.append('Kategorikal Ordinal')
  elif df_karakteristik['Tipe Data'][i] == 'float64' or df_karakteristik['Tipe Data'][i] == 'int64':
    list_jenis_data.append('Kuantitatif')
  
dict_jenis_data = {'Jenis Data' : list_jenis_data}

df_karakteristik = df_karakteristik.join(pd.DataFrame(dict_jenis_data))
df_karakteristik

            Nama Kolom Tipe Data           Jenis Data
0              Segment    object  Kategorikal Nominal
1              Country    object  Kategorikal Nominal
2              Product    object  Kategorikal Nominal
3         DiscountBand    object  Kategorikal Ordinal
4            UnitsSold   float64          Kuantitatif
5   ManufacturingPrice     int64          Kuantitatif
6            SalePrice     int64          Kuantitatif
7           GrossSales   float64          Kuantitatif
8            Discounts   float64          Kuantitatif
9                Sales   float64          Kuantitatif
10                COGS   float64          Kuantitatif
11              Profit   float64          Kuantitatif
12                Date    object  Kategorikal Ordinal
13         MonthNumber     int64          Kuantitatif
14           MonthName    object  Kategorikal Ordinal
15                Year     int64          Kuantitatif

##Karakteristik Jenis Data Kategorikal Nonimal

In [107]:
nilai_Segment = []
for i in cdf['Segment']:
  if i not in nilai_Segment:
    nilai_Segment.append(i)

nilai_Country = []
for i in cdf['Country']:
  if i not in nilai_Country:
    nilai_Country.append(i)

nilai_Product = []
for i in cdf['Product']:
  if i not in nilai_Product:
    nilai_Product.append(i)

In [108]:
print("Nilai-nilai yang ada di atribut Segment adalah:")
for i in nilai_Segment:
  print(i)
print()

print("Nilai-nilai yang ada di atribut Country adalah:")
for i in nilai_Country:
  print(i)
print()

print("Nilai-nilai yang ada di atribut Product adalah:")
for i in nilai_Product:
  print(i)
print()

Nilai-nilai yang ada di atribut Segment adalah:
Government
Midmarket
Channel Partners
Enterprise
Small Business

Nilai-nilai yang ada di atribut Country adalah:
Canada
Germany
France
Mexico
United States of America

Nilai-nilai yang ada di atribut Product adalah:
Carretera
Montana
Paseo
Velo
VTT
Amarilla

Cara lain

In [13]:
df_nilai_Segment = pd.DataFrame(cdf['Segment'].value_counts()).reset_index()
df_nilai_Segment.rename(columns = {'index':'Nilai', 'Segment' : 'Jumlah'}, inplace = True) 
df_nilai_Segment

              Nilai  Jumlah
0        Government     300
1    Small Business     100
2        Enterprise     100
3         Midmarket     100
4  Channel Partners     100

In [14]:
df_nilai_Country = pd.DataFrame(cdf['Country'].value_counts()).reset_index()
df_nilai_Country.rename(columns = {'index':'Nilai', 'Country' : 'Jumlah'}, inplace = True) 
df_nilai_Country

                      Nilai  Jumlah
0                   Germany     140
1                    Canada     140
2                    France     140
3                    Mexico     140
4  United States of America     140

In [19]:
df_nilai_Product = pd.DataFrame(cdf['Product'].value_counts()).reset_index()
df_nilai_Product.rename(columns = {'index':'Nilai', 'Product' : 'Jumlah'}, inplace = True) 
df_nilai_Product

       Nilai  Jumlah
0      Paseo     202
1        VTT     109
2       Velo     109
3   Amarilla      94
4  Carretera      93
5    Montana      93

##Karakteristik Jenis Data Kategorikal Ordinal

In [7]:
df_nilai_DiscountBand = pd.DataFrame(cdf['DiscountBand'].value_counts()).reset_index()
df_nilai_DiscountBand.rename(columns = {'index':'Nilai', 'DiscountBand' : 'Jumlah'}, inplace = True) 
df_nilai_DiscountBand

    Nilai  Jumlah
0    High     245
1  Medium     242
2     Low     160
3    None      53

In [15]:
df_nilai_Date = pd.DataFrame(cdf['Date'].value_counts()).reset_index()
df_nilai_Date.rename(columns = {'index':'Nilai', 'Date' : 'Jumlah'}, inplace = True)
df_nilai_Date['Nilai'] = pd.to_datetime(df_nilai_Date['Nilai'], format='%d/%m/%Y')
df_nilai_Date.sort_values(by = 'Nilai', inplace = True)
df_nilai_Date

        Nilai  Jumlah
11 2013-09-01      35
0  2013-10-01      70
4  2013-11-01      35
8  2013-12-01      35
14 2014-01-01      35
9  2014-02-01      35
10 2014-03-01      35
15 2014-04-01      35
6  2014-05-01      35
3  2014-06-01      70
13 2014-07-01      35
7  2014-08-01      35
12 2014-09-01      35
2  2014-10-01      70
5  2014-11-01      35
1  2014-12-01      70

In [18]:
df_nilai_MonthName = pd.DataFrame(cdf['MonthName'].value_counts()).reset_index()
df_nilai_MonthName.rename(columns = {'index':'Nilai', 'MonthName' : 'Jumlah'}, inplace = True) 

sorter = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

df_nilai_MonthName.Nilai = df_nilai_MonthName.Nilai.astype("category")
df_nilai_MonthName.Nilai.cat.set_categories(sorter, inplace = True)
df_nilai_MonthName.sort_values(by = 'Nilai', inplace = True)
df_nilai_MonthName

        Nilai  Jumlah
10    January      35
8    February      35
5       March      35
9       April      35
11        May      35
4        June      70
7        July      35
6      August      35
3   September      70
0     October     140
2    November      70
1    December     105

##Karakteristik Jenis Data Kuantitatif

In [43]:
kolom_kuantitatif = []
for i in range(len(df_karakteristik)):
  if df_karakteristik['Jenis Data'][i] == 'Kuantitatif':
      kolom_kuantitatif.append(df_karakteristik['Nama Kolom'][i])
df_karakteristik_kuantitatif = cdf[kolom_kuantitatif].describe().reset_index()
df_karakteristik_kuantitatif.rename(columns = {'index':'Deskripsi Statistik'}, inplace = True) 
df_karakteristik_kuantitatif

  Deskripsi Statistik    UnitsSold  ...  MonthNumber         Year
0               count   700.000000  ...   700.000000   700.000000
1                mean  1608.294286  ...     7.900000  2013.750000
2                 std   867.427859  ...     3.377321     0.433322
3                 min   200.000000  ...     1.000000  2013.000000
4                 25%   905.000000  ...     5.750000  2013.750000
5                 50%  1542.500000  ...     9.000000  2014.000000
6                 75%  2229.125000  ...    10.250000  2014.000000
7                 max  4492.500000  ...    12.000000  2014.000000

[8 rows x 11 columns]